@model IEnumerable<Northwind.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">
                Product Name
            </th>
            <th scope="col">
                Quantity per Unit
            </th>
            <th scope="col">
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityPerUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
        </tr>
}
    </tbody>
</table>
